<script>
  export let data, helpers;
  import Component from '../../components/Component.svelte';
</script>

<style>
  a {
    margin-bottom: 1rem;
    display: inline-block;
  }
</style>

<svelte:head>
  <title>Site</title>
</svelte:head>

<a href="/">&LeftArrow; Home</a>

<h1>All Pages</h1>


{#if data.pages}
	{#each data.pages as page}
		<li><a href={`/site/${page.slug}`}>{page.fields.frontendTitle}</a></li>
	{/each}
{/if}
