<script>
  export let data, helpers;
  import Component from '../../components/Component.svelte';
</script>

<style>
  a {
    margin-bottom: 1rem;
    display: inline-block;
  }
</style>

<svelte:head>
  <title>{data.title}</title>
</svelte:head>

<a href="/site/">&LeftArrow; Overview</a>

<h1>{data.title}</h1>

<p>{data.webpageDescription}</p>

{#if data.content}
	{#each data.content as component}
		<Component component={component}></Component>
	{/each}
{/if}
