<script>
	import ImageGallery from "../components/ImageGallery.svelte"
	import GenericComponent from "../components/GenericComponent.svelte"

	export let component

	$: data = { id: component.id, contentType: component.contentType, ...component.fields }

	const components = {
		peGallery: ImageGallery,
	}

	function lookupComponent(component) {
		return components[component.contentType] || GenericComponent
	}
</script>

<svelte:component this={lookupComponent(component)} {data} />
