<script>
	import dotProp from "dot-prop"
	import LazyImage from "./LazyImage.svelte"

	export let image

	$: media = getMediaAttributes(image)

	function getMediaAttributes(obj) {
		const result = {
			legend: "",
			mediacontent: "",
			alt: "",
			src: "",
			type: "img", // video or img
			size: {
				width: 3000,
				height: 2000,
			},
		}
		function getContentType(node) {
			return node.fields.frontendTitle || node.fields.description
				? "hasContent"
				: "hasNoContent"
		}

		function getMedia(node) {
			if (!node) return

			switch (node.contentType) {
				case "galleryItem":
					let copyright = dotProp.get(
						node,
						"fields.imageAsset.fields.copyright"
					)
					if (copyright && copyright.indexOf("©") === -1) {
						copyright = `@ ${copyright}`
					}
					result.legend = node.fields.frontendTitle
					result.mediacontent = {
						title: node.fields.frontendTitle,
						description: node.fields.description,
						copyright,
						galleryType: getContentType(node),
					}
					result.large = true
					getMedia(node.fields.imageAsset || node.fields.media)
					break

				case "mediaAsset":
					result.alt = node.fields.altText
					getMedia(node.fields.imageAsset || node.fields.media)
					break

				case undefined:
					const file = node.fields && node.fields.file
					if (file && file.details.image) {
						// image asset
						result.src = file.url
						result.size = file.details.image
						if (!result.alt) result.alt = node.fields.description
					} else if (file && file.contentType.indexOf("video") >= 0) {
						result.src = file.url
						result.type = "video"
					} else {
						return
					}
					break

				default:
					if (node.fields) {
						getMedia(node.fields.imageAsset || node.fields.media)
					}
					break
			}
		}

		getMedia(obj)

		return result
	}


</script>

<LazyImage hydrate-client={{ media }} {media} />
