<script>
	import Image from "./Image.svelte"
	export let data
</script>

<h2>Image Gallery</h2>
<ul>
	{#each data.mediaAssets as mediaAsset}
		<li>
			<Image
				image={mediaAsset}
			/>
		</li>
	{/each}
</ul>

<style>
	ul,
	li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
	}
	li {
		flex: 1 1 auto;
		min-width: 200px;
		max-width: 400px;
	}
	img {
		display: block;
		width: 100%;
	}
</style>
