<script>
	import { onMount } from 'svelte';

	export let media
	let el

	onMount(async () => {
		const size = el.getBoundingClientRect()
		const factor = window.devicePixelRatio >= 1.5 ? 2 : 1
		const width = Math.round(size.width * factor)
		const height = Math.round(size.height * factor)
		const src = `${media.src}?w=${width}&h=${height}&fm=webp`
		el.src = src
	});

</script>

<img bind:this={el} src={`${media.src}?w=10&fm=webp`} width={media.size.width} height={media.size.height} loading="lazy" alt={media.alt}>

<style>
	img {
		width: 100%;
		height: auto;
	}
</style>
